.background {
    background: linear-gradient(180deg, #3366ff, #6600cc);
    background-size: cover;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 21px;
  }

  .ios{
    background: linear-gradient(180deg, #3366ff, #6600cc);
    background-size: cover;
    /* height: 90vh; */
    /* position: relative; */
    border-radius: 21px;
  }
  
  .background::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    /* border: 2px solid #fff; */
    animation: pulse 1.5s linear infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  