.landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: max-content;
    max-height: max-content;
    background-color: #84e900;
    border-radius: 17px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.landing__header {
    text-align: center;
    margin-bottom: 20px;
}

.first__title {
    font-size: 36px;
    font-weight: bold;
}

.landing__image {
    margin-bottom: 20px;
}

.landing__text__container {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

.landing__text {
    font-size: 18px;
    font-weight: bold;
}

.landing__button {
    width: 100%;
    height: 0px;
    padding-top: 30px;
}
