.container__level__one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__level__one h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

.container__level__one p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    text-align: center;
    color: #f5f5f5;
}

.container__level__one li {
    margin: 0.1rem 0;
}


.container__level__one ion-button {
    font-size: 0.rem;
    margin: 0.1rem;
    white-space: normal;
    word-wrap: break-word;
    text-transform: lowercase;
    color: #000000;
}


ion-button {
    --background: #f5f5f5;
}

.container__level__one ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    text-align: center;
}