.dragging {
    opacity: 0.5;
    border: 1px solid gray;
}

/* .question ion-card{
    --background: white;
    --border-radius: 0.5rem;
    --box-shadow: 0 0 0 0;
} */

.drop__card{
    --background: white;
    --border-radius: 0.5rem;
    height: 4em;
 
}

.container__level__four ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.option__drop{
    background-color: blueviolet;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;

}