
.container__level__four{
    padding: 0;
    margin: 0;
}

.container__level__four p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.container__level__four ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container__level__four ul li {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container__level__four ion-button {
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
    align-items: flex-start;

}

.next{
    color: black;
}

