.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #84e900;
  }
  
  .landing__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
  
  .landing__title {
    margin-bottom: 1rem;
  }
  
  .start__title {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .image__container {
    margin-bottom: 1rem;
  }
  
  .start__button {
    font-size: 1.25rem;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .start__button:hover {
    background-color: #444;
  }
  
  /* Media queries */
  
  /* Small screens (up to 576px) */
  @media (max-width: 576px) {
    .landing__title h1 {
      font-size: 2rem;
    }
  
    .start__title {
      font-size: 1rem;
    }
  
    .start__button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  
  /* Medium screens (577px to 768px) */
  @media (min-width: 577px) and (max-width: 768px) {
    .landing__title h1 {
      font-size: 3rem;
    }
  
    .start__title {
      font-size: 1.25rem;
    }
  
    .start__button {
      font-size: 1.25rem;
      padding: 0.75rem 1.5rem;
    }
  }
  
  /* Large screens (769px and up) */
  @media (min-width: 769px) {
    .landing__title h1 {
      font-size: 4rem;
    }
  
    .start__title {
      font-size: 1.5rem;
    }
  
    .start__button {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }
  }
  